.aboutus {
    color: #ffffff;
    background-color: #ff9c00;
}
.aboutus:hover {
    color: #fff;
}
.banner h4 {
    padding-top: 43px;
}
.impact-num {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
    line-height: 120px;
    color: #f7f2ea;
    text-align: center;
    z-index: -1;
    letter-spacing: 14px;
}
.about-company h1, .about-prospect h1, .about-policy h1 {
    position: absolute;
    text-align: center;
    line-height: 30px;
    letter-spacing: 5px;
}
.aboutus-container p {
    text-align: left;
    line-height: 34px;
    color: #313131;
    letter-spacing: 5px;
}
.about-company {
    position: relative;
    box-sizing: border-box;
    height: 470px;
    width: 1028px;
    margin: 0 auto;
}
.about-company h1 {
    top: 86px;
    left: 441px;
}
.about-company .impact-num {
    padding: 37px 0;
}
.about-company span {
    color: #02c1de
}
.about-professional {
    background: url(../assets/images/aboutprofessional.png) 50% 0 no-repeat;
}
.about-prospect, .about-policy {
    width: 1028px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.about-prospect {
    padding-top: 128px;
}
.about-prospect::after, .about-policy::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.about-img {
    float: left;
}
.about-text {
    width: 467px;
    float: right;
    position: relative;
}
.about-text .impact-num {
    text-align: left;
    padding-bottom: 30px;
}
.about-text h1 {
    top: 49px;
}