.banner-container {
    width: 100%;
    height: 380px;
    background-color: #25282b;
}
.banner {
    width: 1028px;
    margin: 0 auto;
}
.banner::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.banner-text {
    width: 330px;
    padding-top: 146px;
    float: left;
}
.banner h1 {
    font-size: 50px;
    line-height: 50px;
    height: 29px;   
    color: #fff;
    letter-spacing: 5px;
}
.blue-bg {
    content: "";
    display: block;
    width: 103px;
    height: 22px;
    background-color: #02c1de;
}
.banner h4 {
    line-height: 20px;
    padding-top: 17px;
    letter-spacing: 5px;
}
.banner-img {
    width: 602px;
    float: right;
    position: relative;
}
.layer {
    position: absolute;
    animation: slide-move-60 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
}
.layer-1 {
    animation: slide-move-10 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(10px);
}
.layer-2 {
    animation: slide-move-20 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(30px);
}
.layer-3 {
    animation: slide-move-30 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(50px);
}
.layer-4 {
    animation: slide-move-40 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(70px);
}
.layer-5 {
    animation: slide-move-50 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(90px);
}
.layer-6 {
    animation: slide-move-60 .8s cubic-bezier(0.4,0,.2,1) 0s 1;
    transform: translateZ(110px);
}
@keyframes slide-move-10 {
    0% { 
        opacity: 0;
        transform: translate(0, 10px);
    }
    100% {
       opacity: 1;
    }
}
@keyframes slide-move-20 {
    0% { 
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
       opacity: 1;
    }
}
@keyframes slide-move-30 {
    0% { 
        opacity: 0;
        transform: translate(0, 30px);
    }
    100% {
       opacity: 1;
    }
}
@keyframes slide-move-40 {
    0% { 
        opacity: 0;
        transform: translate(0, 40px);
    }
    100% {
       opacity: 1;
    }
}
@keyframes slide-move-50 {
    0% { 
        opacity: 0;
        transform: translate(0, 50px);
    }
    100% {
       opacity: 1;
       transform: translateZ(0);
    }
}
@keyframes slide-move-60 {
    0% { 
        opacity: 0;
        transform: translate(0, 60px);
    }
    100% {
       opacity: 1;
    }
}