html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li  {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif, SimSun;
    width: 100%;
    background-color: #fff;
}
h1 {
    font-size: 30px;
    color: #313131;
    font-weight: normal;
}
h2 {
    font-size: 26px;
    color: #313131;
}
h3 {
    font-size: 24px;
    color: #ffffff;
}
h4 {
    font-size: 20px;
    color: #ffffff;
    font-weight: normal;
}
h5 {
    font-size: 18px;
    color: #313131;
}
h6 {
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
}
p {
    font-size: 16px;
    color: #797979;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #313131;
}
ul, li {
    list-style: none;
}
.header {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}
.header::after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}
.logo {
    width: 48px;
    height: 33px;
    margin: 30px 10px 20px 0px;
    float: left;
}
.logo-title {
    width: 132px;
    height: 26px;
    margin-top: 34px;
    margin-right: 246px;
    float: left;
}
.navigation {
    width: 369px;
    margin-top: 34px;
    float: left;
}
.homepage, .products, .aboutus {
    display: block;
    box-sizing: border-box;
    float: left;
    height: 36px;
    line-height: 18px;
    padding: 9px 15px;
    cursor: pointer;
    border-radius: 3px;
}
.homepage {
    width: 80px;
}
.products {
    width: 80px;
    margin: 0 46px;
}
.aboutus {
    width: 112px;
}
.homepage:hover, .products:hover, .aboutus:hover {
    background-color: #ff9c00;
    color: #fff;
}
.search {  
    width: 174px;
    height: 34px;
    margin-top: 34px;
    border: 1px solid #313131;
    float: right;
}
.search input {
    position:relative;
    padding: 0px;
    width: 134px;
    height: 34px;
    border: none;
    font-size: 16px;
}
.search .input-btn {
    position: relative;
    width: 40px;
    height: 34px;
    background: url(../assets/images/search.png) 50% 50% no-repeat;
    float: right;
    cursor: pointer;
}
.search .input-btn::before {
    content:"";
    display: block;
    position:absolute;
    height:30px;
    top: 2px;
    left: 0px;
    border-left: 1px solid #313131;
}
.footer-container {
    box-sizing: border-box;
    width: 100%;
    height: 379px;
    background: url(../assets/images/contactbg.png) 50% 0 no-repeat;
    padding: 35px 0 30px 0;
}
.footer {
    width: 1028px;
    margin: 0 auto; 
}
.footer::after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}
.footer-title {
    box-sizing: border-box;
    width: 256px;
    height: 42px;
    line-height: 24px;
    padding: 7px 30px;
    border: 2px solid #ff9c00;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto 70px auto; 
}
.detail {
    float: left;
}
.detail > li {
    float: left;
    text-align: center;
}
.detail a {
    font-size: 12px;
    color: #ffffff;
}
.detail > li:nth-child(2) {
    margin: 0 76px;
}
.detail h6 {
    padding-bottom: 18px;
}
.detail > li > p:nth-of-type(2) {
    padding: 14px 0;
}
.contact-info {
    float: right;
}
.contact-info p {
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding-bottom: 25px;
}
.contact-info > p:nth-child(1) img {
    position: relative;
    top: 4px;
    padding-right: 6px;
}
.contact-info > p:nth-child(2) img {
    position: relative;
    top: 1px;
    padding-right: 5px;
}
.contact-info > p:nth-child(3) img {
    position: relative;
    top: 3px;
    padding-right: 7px;
}
.copyright {
    font-size: 11px;
    color: #fff;
    margin-top: 45px;
}