.products, .products a {
    color: #ffffff;
    background-color: #ff9c00;
}
.products-nav {    
    width: 100%;
    height: 132px;
    background-color: #f0f0f0;
}
.products-nav::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.nav-container {
    width: 1050px;
    margin: 0 auto;
}
.products-nav .nav {
    float: left;
    margin: 34px 136px 18px 136px;
    position: relative;
}
.products-nav h6 {
    color: #262626;
    text-align: center;
    padding-top: 60px;
}
.products-nav .all-products {
    width: 71px;
    background: url(../assets/images/allproductsicon.png) 50% 0 no-repeat;
}
.pc-products {
    width:75px;
    background: url(../assets/images/pcproductsicon.png) 50% 0 no-repeat;
}
.pc-products::before, .pc-products::after {
    content: "";
    display: block;
    border-left: 1px solid #ccc;
    height: 98px;
    position: absolute;
    top: -17px;
}
.pc-products::before {
    left: -136px;
}
.pc-products::after {
    right: -136px;    
}

.iOS-products {
    width: 88px;
    background: url(../assets/images/iosproductsicon.png) 50% 0 no-repeat;
}
.products-download-container {
    width: 100%;
}
.box-resize {
    width: 1028px;
    margin: 0 auto;
}
.clear-float::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.intro-text {
    width: 696px;
    float: left;
}
.intro-text h2 {
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.intro-text p {
    line-height: 36px;
    text-align: left;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.intro-text span {
    color: #02C1de;
}
.download-btn {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 43px;
    background: #ff9c00;
    text-align: center;
    padding-top: 9px;
    box-shadow: 0 5px 10px rgba(75,46,0,0.2);
    letter-spacing: 3px;
    transition: color 0.2s ease;
}
.download-btn:hover {
    color: #fff;
}
.intro-img {
    float: right;
}
.verify-app {
    position: relative;
    box-sizing: border-box;
    padding-top: 88px;
    height: 382px;
    background: url(../assets/images/verifyappline.png) 0 bottom no-repeat;
}
.verify-app .download-btn {
    top: 298px;
    left: 40px;
}
.verify-pc {
    position: relative;
    box-sizing: border-box;
    padding-top: 160px;
    height: 534px;
    background: url(../assets/images/verifypcline.png) 355px 386px no-repeat;
}
.verify-pc .intro-text, .sign-app .intro-text {
    float: right;
}
.verify-pc .intro-img, .sign-app .intro-img {
    float: left;
}
.verify-pc .download-btn {
    top: 367px;
    left: 899px;
}
.verify-pc h2, .sign-app h2 {
    text-align: right;
}
.verify-pc p, .sign-app p {
    text-align: right;
}
.sign-pc-container {
    width: 100%;
    height: 450px;
    background-color: #fafafa;
}
.sign-pc {
    position: relative;
    box-sizing: border-box;
    height: 450px;
    padding-top: 80px;
}
.sign-pc .download-btn {
    top: 326px;
    left: -9px;
}
.sign-app {
    position: relative;
    box-sizing: border-box;
    height: 498px;
    padding-top: 80px;
    background: url(../assets/images/signappline.png) 362px 244px no-repeat;
}
.sign-app .download-btn {
    top: 290px;
    left: 899px;
}