.products {
    color: #ffffff;
    background-color: #ff9c00;
}
.products:hover {
    color: #fff;
}
.products-nav, .products-download-container {
    transform: translateZ(0);
}
.products-nav {    
    width: 100%;
    height: 132px;
    background-color: #f0f0f0;
}
.products-nav::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.nav-container {
    width: 1050px;
    margin: 0 auto;
}
.products-nav .nav {
    box-sizing: border-box;
    position: relative;
    width: 350px;
    float: left;
    padding: 98px 135px 18px 135px;
    cursor: pointer;
}
.products-nav h6 {
    color: #262626;
    text-align: center;
    line-height: 16px;
}
.all-products {
    background: url(../assets/images/allproductsicon.png) 50% 40% no-repeat;
}
.pc-products {
    background: url(../assets/images/pcproductsicon.png) 50% 40% no-repeat;
}
.ios-products {
    background: url(../assets/images/iosproductsicon.png) 50% 40% no-repeat;
}
.pc-products::before, .pc-products::after {
    content: "";
    display: block;
    border-left: 1px solid #ccc;
    height: 98px;
    position: absolute;
    top: 22px;
}
.pc-products::before {
    left: 0px;
}
.pc-products::after {
    left: 350px;    
}
.all-products:hover {
    background: url(../assets/images/allproductshover.png) 50% 40% no-repeat #f5e8d7;
}
.pc-products:hover {
    background: url(../assets/images/pcproductshover.png) 50% 40% no-repeat #f5e8d7;
}
.ios-products:hover {
    background: url(../assets/images/iosproductshover.png) 50% 40% no-repeat #f5e8d7;
}
.all-products.all-products-click {
    background: url(../assets/images/allproductsclick.png) 50% 40% no-repeat;
    color: #ff9c00;
}
.pc-products.pc-products-click {
    background: url(../assets/images/pcproductsclick.png) 50% 40% no-repeat;
    color: #ff9c00;
}
.ios-products.ios-products-click {
    background: url(../assets/images/iosproductsclick.png) 50% 40% no-repeat;
    color: #ff9c00;
}
.products-download-container {
    width: 100%;
}
.box-resize {
    width: 1028px;
    margin: 0 auto;
}
.clear-float::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.intro-text {
    width: 696px;
    float: left;
}
.intro-text h2 {
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.intro-text p {
    line-height: 36px;
    text-align: left;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.intro-text span {
    color: #02C1de;
}
.download-btn {
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 43px;
    background: #ff9c00;
    font-size: 18px;
    color: #313131;
    text-align: center;
    padding-top: 9px;
    box-shadow: 0 5px 10px rgba(75,46,0,0.2);
    letter-spacing: 3px;
    transition: color 0.2s ease;
    cursor: pointer;
}
.download-btn:hover {
    color: #fff;
}
.intro-img {
    float: right;
}
.verify-app {
    position: relative;
    box-sizing: border-box;
    padding-top: 88px;
    margin-bottom: 80px;
    height: 382px;
    background: url(../assets/images/verifyappline.png) 0 bottom no-repeat;
}
.verify-app .download-btn {
    top: 298px;
    left: 40px;
}
.verify-pc {
    position: relative;
    box-sizing: border-box;
    padding-top: 80px;
    height: 454px;
    background: url(../assets/images/verifypcline.png) 355px 306px no-repeat;
}
.verify-pc .intro-text, .sign-app .intro-text {
    float: right;
}
.verify-pc .intro-img, .sign-app .intro-img {
    float: left;
}
.verify-pc .download-btn {
    top: 287px;
    left: 899px;
}
.verify-pc h2, .sign-app h2 {
    text-align: right;
}
.verify-pc p, .sign-app p {
    text-align: right;
}
.sign-pc-container {
    width: 100%;
    height: 450px;
    background-color: #fafafa;
}
.sign-pc {
    position: relative;
    box-sizing: border-box;
    height: 450px;
    padding-top: 80px;
}
.sign-pc .download-btn {
    top: 326px;
    left: -9px;
}
.sign-app {
    position: relative;
    box-sizing: border-box;
    height: 498px;
    padding-top: 80px;
    background: url(../assets/images/signappline.png) 362px 244px no-repeat;
}
.sign-app .download-btn {
    top: 290px;
    left: 899px;
}
.popup-cover, .verify-app-download, .verify-pc-download, .sign-app-download {
    display: none;
}
.popup-cover {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.app-download, .pc-download {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.app-download {
    width: 500px;
    height: 600px;
    padding-top: 110px;
}
.app-download h3 {
    line-height: 24px;
    color: #313131;
    padding-top: 40px;
    padding-bottom: 16px;
    font-weight: normal;
}
.app-download p {
    line-height: 16px;
    color: #313131;
}
.download-popup .close-btn {
    position: absolute;
    box-sizing: border-box;
    top: 16.5px;
    left: 463.5px;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    cursor: pointer;
}
.close-btn::before, .close-btn::after {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 24px; 
}
.close-btn::before {
    top: 11.5px;
    border-top: 1px solid #b5b5b5;
}
.close-btn::after {
    left: 11.5px;
    border-left: 1px solid #b5b5b5;
}
.pc-download {
    width: 600px;
    height: 360px;
    padding-top: 100px;
    padding-left: 97px;
    padding-right: 97px;
}
.pc-download::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 228px;
    border-left: 1px solid #f0f0f0;
}
.pc-download::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.pc-download .windows {
    float: left;
}
.windows img {
    width: 68px;
    height: 79px;
}
.pc-download .mac {
    float: right;
}
.mac img {
    width: 64px;
    height: 79px;
}
.pc-download p {
    color: #313131;
    line-height: 16px;
    padding-top: 18px;
    padding-bottom: 28px;
}
.pc-download a {
    font-size: 24px;
    line-height: 24px;
    color: #ff9c00;
}
.pc-download .close-btn {
    left: 563.5px;
}